    <!-- Footer -->    
  <footer class="footer bg-white">
    <div class="container-fluid">
      <div class="row">
        <div class="col justify-content-center">
          <p class="lead text-muted desc font-weight-bold text-center mb-3">کوتاه کننده لینک به همراه آمار بازدید</p>
          <p class="text-muted text-center mb-3">ارتباط با ما: <b>support@cutty.ir</b></p>
          <ul class="list-inline pl-0 text-center mb-2">
            <li class="list-inline-item mr-3">
              <a href="http://www.telegram.org/@amir_honarmand_zade">
                <i class="fa fa-telegram fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="http://www.linkedin.com/in/amir-honarmand-zade">
                <i class="fa fa-linkedin-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://www.instagram.com/amir.honarmand.zade">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
          <p class="text-muted text-center small" style="direction: ltr;"><a href="/">cutty.ir</a> | تمامی حقوق محفوظ است</p>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/js/copyToclipborad.js"></script>
  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/bootstrap5.bundle.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <% if (path === "/shortened") { %>
    <script src="/js/shortened.js"></script>
  <% } %>
  <% if (path == "/dashboard"){%>
    <script src="/js/dashboard.js"></script>
  <%} %> 


</body>
</html>