<!-- home message -->
<% if (errorsIndex.length > 0) { %>
    <div class="alert alert-danger alert-dismissible fade show py-3 m-4" role="alert">
        <%= errorsIndex %>
            <button type="button" class="close py-3" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
<% } %>