<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= pageTitle %>
    </title>
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <link href="/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
</head>

<body>

    <main class="form-signin text-center">
        <form action="" method="POST">
            <i style="font-size: 4rem;" class="fa fa-sign-in text-primary mb-4"></i>
            <%- include("./includes/messages.ejs") %>
                <h1 class="h3 mb-3 fw-normal">ورود به حساب کاربری</h1>

                <div class="form-floating">
                    <input type="email" name="email" class="form-control" id="email" placeholder="ایمیل">
                    <label for="email" hidden>Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" name="password" class="form-control" id="password" placeholder="رمز عبور">
                    <label for="password" hidden>Password</label>
                </div>

                <div class="checkbox mb-3 mt-3">
                    <label>
                        <input type="checkbox" name="rememberme" value="remember-me"> مرا به خاطر بسپار
                    </label>
                </div>
                <div class="g-recaptcha form-group" data-sitekey="6LcC9ekaAAAAAI_BZUuuQdMNRTOKgWMpiZhUOJGw"></div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">ورود</button>
                <div class="mt-3"><a href="/dashboard/register">ایجاد حساب کاربری جدید</a></div>
                <!-- <p class="mt-5 mb-3 text-muted">&copy; 2021</p> -->
        </form>
    </main>

    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap5.bundle.min.js"></script>
    <!-- <script src="/js/jquery.min.js"></script> -->
    <script src="/js/popper.min.js"></script>
    
</body>

</html>