<%- include('./includes/header.ejs') %> 

<div class="flex-grow-1 h3 d-flex justify-content-center align-items-center">
    این صفحه در حال به روز رسانی است و به زودی در دسترس خواهد بود
</div>

<%- include('./includes/footer.ejs') %> 