/* @font-face {
    font-family: shabnam;
    src: url("../fonts/Shabnam.ttf");
}

body {
    font-family: shabnam !important;
    background-color: #fff !important;
} */

.profile-header {
    transform: translateY(5rem);
}

.urls{
    direction: ltr;
    text-align: start;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;

}

.edit_profile{
    display: none;
    width: 700px;
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-file-input ~ .custom-file-label ::after{
    content: "انتخاب عکس" !important;
}

.avatar{
    object-fit: cover;
    -o-object-fit: cover;
}

.img-thumbnail{
    height: 130px !important;
}

.close_btn{
    position: absolute; 
    top: 0; 
    left: 0; 
    padding: .8rem !important;
}