.container {
    max-width: 960px;
  }

.check{
  color: rgb(6, 207, 6);
  font-size: 4rem;
}

.top_alert{
  line-height: 2.7rem;
}

#statsBtn{
  font-size: 1.1rem;
  padding-top: .7rem;
  padding-bottom: .7rem;
}

@media (max-width: 576px) {
  .top_alert{
    font-size: .9rem;
    padding-left: .4rem !important;
    padding-right: .4rem !important;
  }
}